<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <!-- www.linkedin.com/in/joaodgervasio -->
    <p style="position:absolute;
    left: 1%;
    bottom: 0%;
    display: flex;">
      <a href="mailto:jao.321@gmail.com"><img src="{{ base-url }}/assets/email_up.png" class="button-gmail" ></a>
      <a href="https://www.twitter.com/jao321" target="_blank"><img src="{{ base-url }}/assets/twitter_up.png" class="button-twitter" ></a>
      <a href="https://www.github.com/jao321" target="_blank"><img src="{{ base-url }}/assets/github_up.png" class="button-github"></a>
      <a href="www.linkedin.com/in/joaodgervasio" target="_blank"><img src="{{ base-url }}/assets/Linkedin_up.png" class="button-Linkedin"></a>
      <!-- 
      <img src="{{ base-url }}/assets/email_up.png" class="button-footer"> -->
    </p>


    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <!-- <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div> -->

  </div>

</footer>
